<!DOCTYPE html>
<html>
<head>
  <title>RedditProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  <div class="linkbar"><p>  MY SUBREDDITS * FRONT ALL RANDOM | ASKREDDIT-FUNNY-PICS-TODAYILEARNED-WORLDNEWS-GIFS-VIDEOS-GAMING-MOVIES-AWW-SHOWERTHOUGHTS-EXPLAINLIKEIMFIVE-IAMA-JWOWILLYOUNOTICE | MORE >>
</p></div>
<div class="redditnav"><img src="http://i854.photobucket.com/albums/ab108/The_Big_Zukini/Screen%20Shot%202016-03-07%20at%209.36.29%20PM.png" alt="" /><strong> <p style="color:#FF4500; background-color:white;border-bottom:white;border-top:1px solid #5F99CF; border-left:1px solid #5F99CF; border-right:1px solid #5F99CF;padding-bottom:2px;"> hot </p> <p><%= link_to "new post", new_post_path%> </p> <p> <%= link_to "home", root_path%> </p> <p> controversial </p> <p> top </p> <p> gilded </p> <p> wiki</p> <p> promoted </p>
</strong></div>
  </nav>

<%= yield %>

</body>
</html>
